@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-Regular.otf") format("opentype"),
       url("/fonts/SFProDisplay/SF-Pro-Display-Regular.woff2") format("woff2"),
       url("/fonts/SFProDisplay/SF-Pro-Display-Regular.woff") format("woff"),
       url("/fonts/SFProDisplay/SF-Pro-Display-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay/SF-Pro-Display-Bold.otf") format("opentype"),
       url("/fonts/SFProDisplay/SF-Pro-Display-Bold.woff2") format("woff2"),
       url("/fonts/SFProDisplay/SF-Pro-Display-Bold.woff") format("woff"),
       url("/fonts/SFProDisplay/SF-Pro-Display-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #f9f9f9;
  --foreground: #171717;
  --font-primary: "SF Pro Display", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: "SF Pro Display", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
